.thead th {
  background-color: rgb(15, 229, 168);
}
.thead {
  border: 2px solid rgb(15, 229, 168);
  /* height: 200px; */
  border-radius: 15px;
}

.tbody {
  border: 2px solid rgb(15, 229, 168);
}
.tbody td {
  height: 80px;
}

.PRICINg {
  background-color: rgb(233, 253, 247);
  padding: 50px;
}
