/* Hero section */

.hero {
  background-image: url("/images/homebg.png"),
    linear-gradient(rgb(233, 253, 247), rgb(233, 253, 247));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.top img {
  width: 20px;
  margin-right: 10px;
}

.top h6 {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}

.hero-header {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
}
.hero-header span {
  color: rgb(15, 229, 168);
}

.hero-para {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 100px;
}

.ft {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.tops {
  display: flex;
  align-items: center;
}

.tops img {
  width: 20px;
  margin-right: 10px;
  margin-bottom: 26px;
}

.tops p {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  justify-content: center;
}

input {
  background-color: rgb(233, 253, 247);
}
.hero {
  padding: 40px 0;
}

.hero .top {
  align-items: center;
  margin-bottom: 20px;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

.hero h6 {
  margin-bottom: 0;
}

.hero-para {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Footer section */
.ft {
  margin-top: 30px;
}

.ft .tops {
  margin-bottom: 20px;
}

.ft img {
  max-width: 20px;
  height: auto;
  margin-right: 10px;
}

.ft p {
  margin-bottom: 0;
}

.ft form {
  margin-bottom: 20px;
}

.ft .form-outline {
  margin-bottom: 15px;
}

.ft .btn {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
  .hero .top {
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hero h3 {
    font-size: 20px;
  }

  .hero-para {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .hero .col-lg-8,
  .hero .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .hero .btn {
    max-width: 100%;
  }

  .ft img {
    max-width: 15px;
  }

  .ft p {
    font-size: 14px;
  }
}

/* Skill section */

.skile {
  text-align: center;
  padding-bottom: 50px;
}

.skile .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-top: -120px;
}

.badge {
  width: 100px;

  position: relative;
  left: 100px;
  object-fit: cover;
}

.card-text {
  font-size: 18px;
  font-weight: 500;
}
.card-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.skile {
  padding: 40px 0;
}

.skile .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.skile .card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skile .badge img {
  max-width: 75%;
  align-items: center;
  height: auto;
}

.skile .heading {
  font-size: 18px;
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .skile .row-cols-md-4 > div {
    flex: 0 0 50%;
    max-width: 50%;
    height: 250px;
  }
}

@media (max-width: 576px) {
  .skile .row-cols-md-4 > div {
    flex: 0 0 100%;
    max-width: 100%;
    height: 250px;
  }
}

/* Work section */
.work {
  padding-bottom: 40px;
}

.work .container-fluid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.work .top {
  margin-bottom: 20px;
  margin-left: 50px;
}

/* .work-right{
  margin-left: 20px;
} */
.work .work-head {
  margin-left: 10px;
  font-size: 20px;
}

.work .card {
  border: none;
  margin: 20px;
}

.work .badges {
  border-radius: 5px;
}

.work .badges img {
  max-width: 100%;
}

.work .badges p {
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 992px) {
  .work .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
    height: 300px;
  }
}

/* Team section */
.team {
  padding: 20px 0;
}

.team .container {
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
}

.team .card {
  border: none;
}

.team .card-img-top {
  max-width: 100%;
  height: auto;
}

.team .card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.team .card-text {
  font-size: 16px;
}

.team .card-titles {
  font-size: 18px;
  /* margin-bottom: 10px; */
}

/* Responsive styles */
@media (max-width: 768px) {
  .team .row-cols-md-4 > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .team .row-cols-md-4 > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Default styles */

.work img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.work .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.work .badges img {
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}

.work .badges p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .work img {
    width: 100%; /* Adjust image width for smaller screens */
  }

  .work .col-md-6 {
    flex: 0 0 100%; /* Make columns full width on smaller screens */
  }
}

/* Default styles */

.call {
  height: 300px;
  background-image: url("/images/email-optin-bg.png");
  background-size: cover;
  background-position: center;
  /* padding: 5%; */
  text-align: center;
}
/* Default styles */

.call-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.call-name .col-lg-12,
.call-name .col-md-12,
.call-name .col-sm-12 {
  margin-bottom: 20px;
}

.call-name .call-title {
  align-items: center;
}

.call-name img {
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}

.call-name p {
  margin-bottom: 0;
}

.call-name .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.call-name .btn:hover {
  background-color: #0056b3;
}

/* Responsive styles */

@media (max-width: 768px) {
  .call-name .col-lg-12,
  .call-name .col-md-12,
  .call-name .col-sm-12 {
    flex: 0 0 100%; /* Make columns full width on smaller screens */
  }
}

.hero {
  background-image: url("/images/homebg.png"),
    linear-gradient(rgb(233, 253, 247), rgb(233, 253, 247));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.top {
  display: flex;
  align-items: center;
}

.top img {
  width: 20px;
  margin-right: 10px;
}

.top h6 {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}

.hero-header {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
}
.hero-header span {
  color: rgb(15, 229, 168);
}
.heros {
  padding-left: 80px;
  padding-right: 40px;
}

#hero {
  padding-left: 100px;
}

.hero-para {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 100px;
}

.ft {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.tops {
  display: flex;
  align-items: center;
}

.tops img {
  width: 20px;
  margin-right: 10px;
  margin-bottom: 26px;
}

.tops p {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  justify-content: center;
}

input {
  background-color: rgb(233, 253, 247);
}

.skile {
  text-align: center;
  padding-bottom: 50px;
}

.skile .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-top: -120px;
}

.badge {
  width: 100px;

  position: relative;
  left: 100px;
  object-fit: cover;
}

.skile .badge img {
  max-width: 100%;
}

.skile .heading {
  font-size: 18px;
  font-weight: bold;
}

.card-img {
  height: 210px;
  width: 500px;
}

.card-img-top {
  border-radius: 50%;

  position: relative;
  left: 100px;
  object-fit: cover;
}

.card-text {
  font-size: 18px;
  font-weight: 500;
}
.card-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.work {
  height: 500px;
  background-color: rgb(233, 253, 247);
}

.badges {
  align-items: center;
  display: flex;
}
.badges img {
  width: 20px;
  height: 20px;
}

.badges {
  text-align: center;
}

.workss {
  border-radius: 10px;
}

.badges img {
  max-width: 100%;
  height: auto;
}

.badges p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.call {
  background-image: url("/images/email-optin-bg.png");
  background-size: cover;
  background-position: center;
  padding: 5%;
  text-align: center;
}

.call-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 10px;
}
.call-title img {
  height: 25px;
  width: 25px;
  padding-right: 5px;
}
.call-title p {
  font-size: 16px;
  font-weight: 600;
}

.feedback {
  background-color: rgb(233, 253, 247);
}
.feedback-header {
  padding-top: 100px;
}
.feedback-header h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}
.feedback-header h2 {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 5px;
}
.feedback-header p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.card-imgs {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.feedback-body h5 {
  color: black;
  font-weight: 600;
}
.feedback-body p {
  font-size: 16px;
  padding-top: 10px;
}
.feedback-body {
  height: 430px;
}
